{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true
    },
    "plugins": [
        "react",
        "react-native"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-native/all"
    ],
    "rules": {
        "react-native/no-color-literals": 0
    },
    "globals": {
        "module": false
    }
}
